
# JWT_SECRET ='p4sta.w1th-b0logn3s3-s@uce'
# JWT_ALGO='RS256'
PASSWORD_SALT='10'

# Mongo DB
# Local development
DB_URI='mongodb://localhost/bulletproof-nodejs'

# Port
PORT=3000

# Debug
LOG_LEVEL='silly'



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://POSTGRES_USERNAME:POSTGRES_PASSWORD@HOST:PORT/DB_NAME"